@import url(./root.css);

/* Album Jumbotron */
.song-list p{
  color: #fff;
}
#nav-album-page {
  background-color: rgb(80, 28, 65) !important;
  position: sticky;
  max-height: 5%;
}

* #album-id-player a,
i {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.486);
}

.div-album-page {
  background-color: rgba(166, 58, 134, 0.911);
}

#arrows-album {
  display: block;
  align-items: center;
  padding: 0.2rem 1.5rem;
}

#profile-album {
  display: block;
  align-items: center;
  padding: 0.2rem;
}

.div-album-page > div > img {
  box-shadow: 1px -1px 77px 16px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px -1px 77px 16px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px -1px 77px 16px rgba(0, 0, 0, 0.65);
}

/* media queries upper part */

@media screen and (max-width: 768px) {
  #profile-album {
    display: none;
  }

  #img-text-album > div {
    margin-right: 110px;
    margin-top: 115px;
  }

  .div-album-page .text-white h4 {
    display: none !important;
  }
  .div-album-page .text-white h1 {
    font-size: 16px !important;
  }

  .div-album-page .text-white span:first-of-type::after {
    content: "Album • 2018";
    display: block;
    margin-top: 6px;
    margin-left: 6px;
    font-size: 8px;
    font-weight: 500;
    color: rgba(194, 194, 194, 0.753);
  }

  .div-album-page > div > img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  .img-album-player {
    image-rendering: auto;
  }
  /* #album-id-player > div div:last-child > img {
    margin-left: auto;
  } */
}

@media screen and (min-width: 769px) {
  #upper-nav-album {
    width: 100%;
  }
  #buttons-album-wrapper {
    padding-left: 1rem;
  }
  #profile-album {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 993px) {
  #img-text-album > div {
    margin-top: 190px;
  }
}

/* end media queries upper part */

.div-album-page > div > div {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.rounded-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.div-album-page .text-white h4 {
  font-size: 14px;
  font-weight: 800;
}

.div-album-page .text-white h1 {
  word-wrap: break-word;
  font-size: 40px;
  font-weight: 800;
}

.div-album-page .text-white p {
  font-size: 14px;
  font-weight: 300;
}

.div-album-page .text-white span:first-of-type {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  text-underline-offset: none;
}

/* buttons part */

#buttons-album-wrapper {
  background-color: rgba(80, 28, 65, 0.616) !important;
}
.album-btn {
  display: block;
  align-items: center;
  padding: 0.2rem 1.5rem;
}

#btn-play-album {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green);
  margin-right: 20px;
}

.on-pulse:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.342),
    0 17px 50px 0 rgba(0, 0, 0, 0.103);
  transform: scale(1.05);
}

.enlight:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#btn-play-sm-album {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green);
  color: white;
  margin-left: 11rem;
}

#btn-play-album i {
  font-size: 2rem;
  color: #fff;
}

.bi .bi-heart i {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0.8rem;
}

#dots-btn-album {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 1.5rem;
}

/* End of Jumbotron*/

/* List */

/* End of List*/

/* Player style */

/* second parent div */
.bg-player {
  /* background-color: var(--bg-cards); */
  background-color: rgb(24, 24, 24);
  color: white;
}

.img-album-player {
  width: 35%;
  height: 75%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* title + song name */
.player-wrapper .bg-player h5 {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-size: 10px !important;
  margin-top: 1px !important;
  padding-left: 6px !important;
}

.player-wrapper .artist-name {
  font-size: 9px !important;
  margin-top: 1px !important;
  padding-left: 6px !important;
}

/* media queries title + song */

@media (max-width: 767px) {
  .img-album-player {
    width: 50%;
    height: 70%;
    margin-left: 5px;
  }
  .player-wrapper .bg-player h5 {
    max-width: 200px;
  }

  .bg-player > div > :last-child {
    margin-left: 15px;
  }
}

/* end media queries title + song */

/* heart + screen icons */

@media (max-width: 850px) {
  .bg-player div > .bi-aspect-ratio {
    display: none;
  }
}

@media (max-width: 800px) {
  .bg-player div > .bi-heart {
    display: none;
  }
}

/* play icons in the middle */

.controls-player a img {
  width: 10px;
  max-height: 14px;
}

.controls-player a i {
  filter: brightness(60%);
}

.controls-player .play-icon-player {
  color: black;
  background-color: white;
  border: 6px solid white;
  border-radius: 100%;
  width: 10px;
  max-height: 8px;
  margin-right: 2rem;
}

.controls-player div:nth-child(2) {
  margin-top: 1px;
  padding-top: 1rem;
}

.player-part span:first-of-type {
  margin-right: 4px;
  font-size: 8px;
}

.player-part #hr {
  border: 2px solid rgba(128, 128, 128, 0.596);
  min-width: 400px;
  height: 2px;
}

.player-part #hr ~ span {
  margin-left: 4px;
  font-size: 8px;
}

#input-player {
  background-color: grey;
  color: grey;
  width: 4rem;
}

.input-wrapper {
  margin-top: 6px;
}

.player-wrapper i {
  opacity: 80%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #play-last-one {
    margin-left: 25%;
  }

  .player-part #hr {
    min-width: 160px;
  }

  .player-part #hr {
    min-width: 200px;
  }
}

/* right icons player  */
@media screen and (max-width: 767px) {
  #play-last-one div {
    display: none !important;
  }
  .right-icons-player {
    display: none !important;
  }
}
/* End of Player style*/
