@import url('./root.css');
/* Navbar */
ul li {
    list-style: none;
}
.nav-links ul li {
    font-size: .8rem;
    font-weight: 600;
    line-height: 2em;
}
.nav-links ul li i {
    margin-right: .5em;
    font-size: 1.3rem !important;
}
.nav-list a {
    color: rgb(243, 238, 230);
    text-decoration: none;
    padding: .5em 0em;
}
/* End of Navbar */

/* Album Jumbotron */

/* End of Jumbotron*/


/* List */
.artist-list {
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(89,89,89,1) 13%, rgba(71,71,71,1) 22%, rgba(44,44,44,1) 42%, rgba(0,0,0,1) 69%, rgba(17,17,17,1) 95%, rgba(19,19,19,1) 100%);
}
.btn-pause {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--green);
}
.btn-pause i {
    font-size: 2rem;
    color: #fff;
}
.songs-list small {
    color: #fff;
}
/* End of List*/


/* Media Queries */
@media (max-width: 576px) { 
    .nav-links ul li span {
        display: none;
    }
    .custom-nav {
        position: fixed;
        bottom: 0px;
        z-index: 9999;
    }
 }